
 body{background-image: url(https://www.pngarts.com/files/1/Racer-PNG-Image.png);}
	
	   h1{ background-color: #333399; color: red; border:2px lightblue;}

  h2{color: white; border:2px dashed red;}
  h3{
	text-align: left;
	color: #ff9900;
	font-family: times new roman;
	font-size: 25px;
	background-color: black}

	h4{color: white; border:2px dashed red;
	<center><img src="ical.jpeg" width="400 px" height="200 px"></center>

		   
